name: Simple Zap proxy scan

on: [push]

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: master
      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'https://www.zaproxy.org'
